# Bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual env
venv/
.venv/

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build artifacts
build/
*.egg-info/
*.whl
dist/

# musicli state/cache
.cli_player_cache.json
.cli_player_state.json
